.block4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2{
        margin: 0 2rem;
    }

    ol {
        list-style:decimal;
        margin-left: 3rem;
        margin-right: 1rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        &::marker {
            color: map-get($colors, "primary");
            font-size: 26px;
        }
    }

    h3 {
        color: map-get($colors, "primary");
        font-size: 26px;
    }

    p {
        color: map-get($colors, "p-second")
    }
}