.mobile_menu {
    position: absolute;
    background: map-get($colors , "second" );
    display: flex; // change
    visibility: hidden;
    flex-direction: column;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 0;
    gap: 2rem;
    transition: all 0.5s ease-in-out;

    a {
        color: #fff;
        font-size: 20px;
    }

    nav {
        padding: 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    footer {
        background: map-get($colors, "primary");
        padding: 1rem 0%;

        p{
            font-size: 13px;
        }

        h2 {
            margin-top: 1vmin;
            font-size: 35px;
        }
    }
}
