.sectificats {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 2rem;


    &__slider {
        position: relative;
        grid-column: 1 / span 2;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    &-item {
        position: absolute;
        transition: all 0.3s ease-in-out;
    }

    &__controll {
        margin-right: 1rem;
        display:flex;
        justify-content: flex-end;
        gap: 0.5rem
        
    }

    &-btn {
        border: 1px solid map-get($colors, "primary");
        padding: 0.5rem;
        color: map-get($colors, "primary");
    }
}