@import "config", "variables", "mixin";
@import "mobile_menu";
@import "block1";

button[main-btn] {
    background-color: map-get($colors, 'primary');
    border: none;
    color: #fff;
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
}