@import "variables", "config", "mixin";
@import "mobile_menu";
@import "block1", "block2", "block3", "block4", "block6", "block7";

body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h2[section] {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: map-get($colors, "text-second");

    span {
        color: map-get($colors, "primary" )
    }
}

button {
    border: none;
    padding: 1rem;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    padding: 1rem;
}

div[img] {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
}

a {
    color: #000;
    text-decoration: none;
    transition: all 0.1s ease-out;
}

a[main-btn] {
    background-color: map-get($colors, 'primary');
    border: none;
    text-align: center;
    width: 100%;
    padding: 1rem 1%;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}



a[wave] {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    &:hover {
        animation: background-color-animation 1s linear;
        background-color: map-get($colors, "primary-bright" );
    }
}

p {
    font-size: 17px;
}

.wave {
    position: absolute;
    background: #fff;
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: wave 1s linear;
}
